body {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: #f9c828;
    color: #414141;
}

/* 
----------------------==============----------------------
====================== Override Css ======================
----------------------==============---------------------- 
*/

.select2-container .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-color: #ccc;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #fbde7e;
    color: #0079c2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: relative;
    top: 0;
    right: 0;
}

.ck.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ck.ck-editor__main>.ck.ck-editor__editable.ck-rounded-corners {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* 
--------------------================---------------------
==================== Global Section =====================
--------------------================--------------------- 
*/

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes jumping {
    40% {
        transform: translateY(-2px);
    }
    60% {
        transform: translateY(2px);
    }
}

@keyframes running-text {
    0% {
        right: -100%;
    }
    100% {
        right: 230%;
    }
}

.animation-running {
    animation: running-text 7s linear infinite;
}

.disabled {
    opacity: 0.4;
    cursor: default;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accordion {
    display: grid;
    grid-template-rows: 1fr;
}

.accordion.hide{
    grid-template-rows: 0fr;
}

.blink {
    animation: blinker 2s linear infinite;
}

.jump {
    animation: jumping 2s linear infinite;
}

.data-filter-wrapper .item-tabs-section button.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

.data-filter-wrapper .item-tabs-section button.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

.data-filter-wrapper .header-pagination ul li a.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

.data-filter-wrapper .header-pagination ul li a.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

.data-table-wrapper {
    max-height: calc(100vh - 274px);
    overflow: auto;
}

.header-col-wrapper.active-asc .label,
.header-col-wrapper.active-asc .asc {
    color: #414141;
}

.header-col-wrapper.active-desc .label,
.header-col-wrapper.active-desc .desc {
    color: #414141;
}

.product-input,
.product-input-wrapper {
    height: 100%;
    overflow: auto;
}

.upload-progress,
.upload-progress-bar {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

.item-image-uploaded.is-invalid .image-item-wrapper {
    border-color: #dc2626;
}

.item-input-group .is-invalid {
    border-color: #dc2626;
}

.form-button button.disabled {
    opacity: 0.4;
}

.top-section .list-tabs-section::-webkit-scrollbar {
    height: 0;
}

.data-table-wrapper::-webkit-scrollbar,
.category-list .category-list-wrapper::-webkit-scrollbar,
.category-input .list-category-wrapper::-webkit-scrollbar,
.category-input .accordion-category-content::-webkit-scrollbar,
.category-input .left-side::-webkit-scrollbar,
.category-input .right-side::-webkit-scrollbar,
.product-input .list-image-uploaded::-webkit-scrollbar,
.product-input .left-side::-webkit-scrollbar,
.product-input .right-side::-webkit-scrollbar,
.order-list .order-list-wrapper::-webkit-scrollbar {
    width: 5px;
}

.data-table-wrapper::-webkit-scrollbar-thumb,
.category-list .category-list-wrapper::-webkit-scrollbar-thumb,
.category-input .list-category-wrapper::-webkit-slider-thumb,
.category-input .accordion-category-content::-webkit-scrollbar-thumb,
.category-input .left-side::-webkit-scrollbar-thumb,
.category-input .right-side::-webkit-scrollbar-thumb,
.product-input .list-image-uploaded::-webkit-scrollbar-thumb,
.product-input .left-side::-webkit-scrollbar-thumb,
.product-input .right-side::-webkit-scrollbar-thumb,
.order-list .order-list-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.data-table-wrapper:hover::-webkit-scrollbar-thumb,
.category-list .category-list-wrapper:hover::-webkit-scrollbar-thumb,
.category-input .list-category-wrapper:hover::-webkit-scrollbar-thumb,
.category-input .accordion-category-content:hover::-webkit-scrollbar-thumb,
.category-input .left-side:hover::-webkit-scrollbar-thumb,
.category-input .right-side:hover::-webkit-scrollbar-thumb,
.product-input .list-image-uploaded:hover::-webkit-scrollbar-thumb,
.product-input .left-side:hover::-webkit-scrollbar-thumb,
.product-input .right-side:hover::-webkit-scrollbar-thumb,
.order-list .order-list-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: #eee;
}

#drop-area-image {
    opacity: 0;

    &.dragover {
        opacity: .8;
    }
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------============    SIDEBAR    ===========---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.sidebar .menu {
    max-height: calc(100vh - 152px);
    overflow: auto;
}

.sidebar .menu::-webkit-scrollbar {
    width: 0;
}

.sidebar .menu ul .item-menu .link.active, 
.sidebar .menu ul .item-menu button.active,
.sidebar .menu ul .item-menu button.active .icon:first-child {
    background-color: #0079c2;
    color: white;
}

.sidebar .menu ul .item-menu button.active .icon:last-child {
    rotate: 180deg;
}

.sidebar .menu ul .item-submenu .icon {
    color: #d1a823;
}

.sidebar .menu ul .list-submenu::after {
    content: '';
    position: absolute;
    height: calc(100% - 35px);
    width: 3px;
    left: 19px;
    background-color: #d1a823;
    margin-top: 17px;
    z-index: -1;
}

.sidebar .menu ul .item-submenu.active .icon {
    color: #0079c2;
}

.sidebar .menu ul .item-submenu.active .link {
    background-color: #fbde7e;
    color: #0079c2;
}

.sidebar .menu .accordion-menu-content {
    margin-bottom: 4px;
}

.sidebar .menu .accordion-menu-content.hide {
    margin-bottom: 0;
}

.sidebar .menu .accordion-menu-content::-webkit-scrollbar {
    width: 0;
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------===========    CATEGORY    ===========---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.category-list .border-l-custom {
    height: calc(100% - 4px);
}

.category-list .border-b-custom {
    width: 100%;
    border-bottom-left-radius: 0;
}

.category-list .accordion-category-wrapper .border-b-custom {
    width: calc(100% - 24px);
    border-bottom-left-radius: 16px;
}

.category-list .accordion-category-item.active .border-b-custom {
    width: calc(100% - 24px);
    border-bottom-left-radius: 16px;
}

.category-list .accordion-category-item.active button .icon,
.category-input .accordion-category-heading button.active .icon {
    rotate: 180deg;
    color: #0079c2;
}

.category-list .accordion-category-wrapper::-webkit-scrollbar {
    width: 0;
}

.category-list .accordion-category-wrapper {
    overflow: auto;
}

.category-list .accordion-category-wrapper.hide {
    overflow: hidden;
}

.category-list .accordion-category-wrapper.hide .border-l-custom {
    display: none;
}

.category-list .item-category:not(:last-child) .accordion-category-content,
.category-input .item-category:not(:last-child) .accordion-category-content {
    margin-bottom: 6px;
}

.category-list .item-category:not(:last-child) .accordion-category-content.hide,
.category-input .item-category:not(:last-child) .accordion-category-content.hide {
    margin-bottom: 16px;
}

.category-input .category-input-wrapper {
    height: calc(100vh - 290px);
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------===========    PRODUCT    ============---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.product-input .product-input-wrapper {
    height: calc(100vh - 290px);
}

.product-input .list-image-uploaded {
    height: calc(100% - 240px);
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------============    ORDER    =============---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.order-list-wrapper {
    max-height: calc(100vh - 274px);
    overflow: auto;
}

.order-list .order-list-header .top-section .item-tabs-section.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

.order-list  .order-list-header .top-section .item-tabs-section.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

.order-list .order-list-header .bottom-section .header-pagination ul li a.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

.order-list  .order-list-header .bottom-section .header-pagination ul li a.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}