body {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: #f9c828;
    color: #414141;
}

/* 
----------------------==============----------------------
====================== Override Css ======================
----------------------==============---------------------- 
*/



/* 
--------------------================---------------------
==================== Global Section =====================
--------------------================--------------------- 
*/

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes blinker-tertiary {
    0%, 100% {
        background-color: #fbde7e;
    }
    50% {
        background-color: #f9c828;
    }
}

@keyframes jumping {
    40% {
        transform: translateY(-2px);
    }
    60% {
        transform: translateY(2px);
    }
}

@keyframes running-text {
    0% {
        right: -100%;
    }
    100% {
        right: 230%;
    }
}

.animation-running {
    animation: running-text 7s linear infinite;
}

.disabled {
    opacity: 0.4;
    cursor: default;
}

.timer-notification {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 1001ms;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accordion {
    display: grid;
    grid-template-rows: 1fr;
}

.accordion.hide{
    grid-template-rows: 0fr;
}

.blink {
    animation: blinker 2s linear infinite;
}

.blink-tertiary {
    animation: blinker-tertiary 2s linear infinite;
}

.jump {
    animation: jumping 2s linear infinite;
}

.data-filter-wrapper .item-tabs-section button.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

.data-filter-wrapper .item-tabs-section button.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

ul[data-element="link-page"] li button.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

ul[data-element="link-page"] li button.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

section[data-section="data-table-wrapper"] {
    max-height: calc(100vh - 277px);
    overflow: auto;
}

.sortable[data-sort]::before,
.sortable[data-sort]::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    margin-left: 2px;
    border: 5px solid transparent;
}

.sortable[data-sort]::before {
    border-bottom-color: #999;
}

.sortable[data-sort]::after {
    top: 10px;
    border-top-color: #999;
}

.active-asc .label,
.active-asc .sortable[data-sort]::before {
    color: #414141;
    border-bottom-color: #414141;
}

.active-desc .label,
.active-desc .sortable[data-sort]::after {
    color: #414141;
    border-top-color: #414141;
}

.product-input,
.product-input-wrapper {
    height: 100%;
    overflow: auto;
}

.upload-progress,
.upload-progress-bar {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

.item-image-uploaded.is-invalid .image-item-wrapper {
    border-color: #dc2626;
}

.is-invalid,
.is-invalid .image-item-wrapper {
    border-color: #dc2626;
}

.form-button button.disabled {
    opacity: 0.4;
}

section[data-section="data-table-wrapper"]::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

section[data-section="data-table-wrapper"]::-webkit-scrollbar-thumb,
.category-list .category-list-wrapper::-webkit-scrollbar-thumb,
.category-input .list-category-wrapper::-webkit-slider-thumb,
.category-input .accordion-category-content::-webkit-scrollbar-thumb,
.category-input .left-side::-webkit-scrollbar-thumb,
.category-input .right-side::-webkit-scrollbar-thumb,
.product-input .list-image-uploaded::-webkit-scrollbar-thumb,
.product-input .left-side::-webkit-scrollbar-thumb,
.product-input .right-side::-webkit-scrollbar-thumb,
.order-list .order-list-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

section[data-section="data-table-wrapper"]:hover::-webkit-scrollbar-thumb,
.category-list .category-list-wrapper:hover::-webkit-scrollbar-thumb,
.category-input .list-category-wrapper:hover::-webkit-scrollbar-thumb,
.category-input .accordion-category-content:hover::-webkit-scrollbar-thumb,
.category-input .left-side:hover::-webkit-scrollbar-thumb,
.category-input .right-side:hover::-webkit-scrollbar-thumb,
.product-input .list-image-uploaded:hover::-webkit-scrollbar-thumb,
.product-input .left-side:hover::-webkit-scrollbar-thumb,
.product-input .right-side:hover::-webkit-scrollbar-thumb,
.order-list .order-list-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: #eee;
}

#drop-area-image {
    opacity: 0;

    &.dragover {
        opacity: .8;
    }
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------============    SIDEBAR    ===========---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.sidebar .menu {
    max-height: calc(100vh - 152px);
    overflow: auto;
}

.sidebar .menu::-webkit-scrollbar {
    width: 0;
}

.sidebar .menu ul .item-menu .link.active, 
.sidebar .menu ul .item-menu button.active,
.sidebar .menu ul .item-menu button.active .icon:first-child {
    background-color: #0079c2;
    color: white;
}

.sidebar .menu ul .item-menu button.active .icon:last-child {
    rotate: 180deg;
}

.sidebar .menu ul .item-submenu .icon {
    color: #d1a823;
}

.sidebar .menu ul .list-submenu::after {
    content: '';
    position: absolute;
    height: calc(100% - 35px);
    width: 3px;
    left: 19px;
    background-color: #d1a823;
    margin-top: 17px;
    z-index: -1;
}

.sidebar .menu ul .item-submenu.active .icon {
    color: #0079c2;
}

.sidebar .menu ul .item-submenu.active .link {
    background-color: #fbde7e;
    color: #0079c2;
}

.sidebar .menu .accordion-menu-content {
    margin-bottom: 4px;
}

.sidebar .menu .accordion-menu-content.hide {
    margin-bottom: 0;
}

.sidebar .menu .accordion-menu-content::-webkit-scrollbar {
    width: 0;
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------===========    CATEGORY    ===========---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.category-list .border-l-custom {
    height: calc(100% - 4px);
}

.category-list .border-b-custom {
    width: 100%;
    border-bottom-left-radius: 0;
}

.category-list .accordion-category-wrapper .border-b-custom {
    width: calc(100% - 24px);
    border-bottom-left-radius: 16px;
}

.category-list .accordion-category-item.active .border-b-custom {
    width: calc(100% - 24px);
    border-bottom-left-radius: 16px;
}

.category-list .accordion-category-item.active button .icon,
.category-input .accordion-category-heading button.active .icon {
    rotate: 180deg;
    color: #0079c2;
}

.category-list .accordion-category-wrapper::-webkit-scrollbar {
    width: 0;
}

.category-list .accordion-category-wrapper {
    overflow: auto;
}

.category-list .accordion-category-wrapper.hide {
    overflow: hidden;
}

.category-list .accordion-category-wrapper.hide .border-l-custom {
    display: none;
}

.category-list .item-category:not(:last-child) .accordion-category-content,
.category-input .item-category:not(:last-child) .accordion-category-content {
    margin-bottom: 6px;
}

.category-list .item-category:not(:last-child) .accordion-category-content.hide,
.category-input .item-category:not(:last-child) .accordion-category-content.hide {
    margin-bottom: 16px;
}

section[data-section="category-input-wrapper"] {
    height: calc(100vh - 290px);
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
---------===========    PRODUCT    ============---------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.product-input .product-input-wrapper {
    height: calc(100vh - 290px);
}

.product-input .list-image-uploaded {
    height: calc(100% - 240px);
}

.product-input .form-input-wrapper .form-button {
    position: relative;
    left: calc(40% + 8px);
    width: calc(100% - (40% + 8px));
}

/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
########################################################
-------===========    Filter Table    ===========-------
########################################################
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

section[data-section="data-filter-wrapper"] {
    max-height: calc(100vh - 274px);
    overflow: auto;
}

ul[data-element="list-tabs"]::-webkit-scrollbar {
    height: 3px;
}

ul[data-element="list-tabs"]::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
}

ul[data-element="list-tabs"]:hover::-webkit-scrollbar-thumb {
background-color: #ccc;
}

ul[data-element="list-tabs"] li .active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

ul[data-element="list-tabs"] li .active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}

ul[data-element="link-page"] li a.active {
    position: relative;
    color: #0079c2;
    font-weight: 600;
}

ul[data-element="link-page"] li a.active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0079c2;
}