.loader-spin {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader-spin:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #ff3d00;
}

@keyframes skLinRotate {
    95% ,100% { transform: rotate(840deg) }
}

.modal {
    position: fixed;
    top: -50%;
    left: 50%;
    z-index: 60;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 300ms ease-in-out, top 800ms ease-in-out;
}

.modal.show {
    top: 50%;
    opacity: 1;
    transition: top 800ms ease-out, opacity 1000ms ease-in-out;
}

div[overlay="active"]::before {
    content: '';
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.tooltip-arrow,
.tooltip-arrow:before {
    background: inherit;
    height: 8px;
    position: absolute;
    width: 8px;
}

.tooltip-arrow {
    visibility: hidden;
}

.tooltip-arrow:before {
    content: "";
    transform: rotate(45deg);
    visibility: visible;
}

[data-tooltip-style^="light"] + .tooltip > .tooltip-arrow:before {
    border-color: #e5e7eb;
    border-style: solid;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="top"] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="right"] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="bottom"] > .tooltip-arrow:before {
    border-left-width: 1px;
    border-top-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="left"] > .tooltip-arrow:before {
    border-right-width: 1px;
    border-top-width: 1px;
}

.tooltip[data-popper-placement^="top"] > .tooltip-arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .tooltip-arrow {
    top: -4px;
}

.tooltip[data-popper-placement^="left"] > .tooltip-arrow {
    right: -4px;
}

.tooltip[data-popper-placement^="right"] > .tooltip-arrow {
    left: -4px;
}

.tooltip.invisible > .tooltip-arrow:before {
    visibility: hidden;
}

[data-popper-arrow],
[data-popper-arrow]:before {
    background: inherit;
    height: 8px;
    position: absolute;
    width: 8px;
}

[data-popper-arrow] {
    visibility: hidden;
}

[data-popper-arrow]:after,
[data-popper-arrow]:before {
    content: "";
    transform: rotate(45deg);
    visibility: visible;
}

[data-popper-arrow]:after {
    background: inherit;
    height: 9px;
    position: absolute;
    width: 9px;
}

[role="tooltip"] > [data-popper-arrow]:before {
    border-color: #e5e7eb;
    border-style: solid;
}

.dark [role="tooltip"] > [data-popper-arrow]:before {
    border-color: #4b5563;
    border-style: solid;
}

[role="tooltip"] > [data-popper-arrow]:after {
    border-color: #e5e7eb;
    border-style: solid;
}

.dark [role="tooltip"] > [data-popper-arrow]:after {
    border-color: #4b5563;
    border-style: solid;
}

[data-popover][role="tooltip"][data-popper-placement^="top"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="top"]
    > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow]:before {
    border-left-width: 1px;
    border-top-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow]:before {
    border-right-width: 1px;
    border-top-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="top"] > [data-popper-arrow] {
    bottom: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow] {
    top: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow] {
    right: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow] {
    left: -5px;
}

[role="tooltip"].invisible > [data-popper-arrow]:after,
[role="tooltip"].invisible > [data-popper-arrow]:before {
    visibility: hidden;
}