.loader-spin {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader-spin:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #0079c2;
}

@keyframes skLinRotate {
    95% ,100% { transform: rotate(840deg) }
}

.modal {
    position: fixed;
    top: -50%;
    left: 50%;
    z-index: 60;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 300ms ease-in-out, top 800ms ease-in-out;
}

.modal.show {
    top: 50%;
    opacity: 1;
    transition: top 800ms ease-out, opacity 1000ms ease-in-out;
}

[data-modal][overlay]:has([data-trigger-modal].show)::before,
[data-dropdown][overlay]:has([data-trigger-dropdown]:not(.hidden))::before {
    content: '';
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

body:has([data-trigger-modal].show),
body:has([data-dropdown][overlay] [data-trigger-dropdown]:not(.hidden)) {
    overflow: hidden;
}

.tooltip-arrow,
.tooltip-arrow:before {
    background: inherit;
    height: 8px;
    position: absolute;
    width: 8px;
}

.tooltip-arrow {
    visibility: hidden;
}

.tooltip-arrow:before {
    content: "";
    transform: rotate(45deg);
    visibility: visible;
}

[data-tooltip-style^="light"] + .tooltip > .tooltip-arrow:before {
    border-color: #e5e7eb;
    border-style: solid;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="top"] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="right"] > .tooltip-arrow:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="bottom"] > .tooltip-arrow:before {
    border-left-width: 1px;
    border-top-width: 1px;
}

[data-tooltip-style^="light"] + .tooltip[data-popper-placement^="left"] > .tooltip-arrow:before {
    border-right-width: 1px;
    border-top-width: 1px;
}

.tooltip[data-popper-placement^="top"] > .tooltip-arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .tooltip-arrow {
    top: -4px;
}

.tooltip[data-popper-placement^="left"] > .tooltip-arrow {
    right: -4px;
}

.tooltip[data-popper-placement^="right"] > .tooltip-arrow {
    left: -4px;
}

.tooltip.invisible > .tooltip-arrow:before {
    visibility: hidden;
}

[data-popper-arrow],
[data-popper-arrow]:before {
    background: inherit;
    height: 8px;
    position: absolute;
    width: 8px;
}

[data-popper-arrow] {
    visibility: hidden;
}

[data-popper-arrow]:after,
[data-popper-arrow]:before {
    content: "";
    transform: rotate(45deg);
    visibility: visible;
}

[data-popper-arrow]:after {
    background: inherit;
    height: 9px;
    position: absolute;
    width: 9px;
}

[role="tooltip"] > [data-popper-arrow]:before {
    border-color: #e5e7eb;
    border-style: solid;
}

.dark [role="tooltip"] > [data-popper-arrow]:before {
    border-color: #4b5563;
    border-style: solid;
}

[role="tooltip"] > [data-popper-arrow]:after {
    border-color: #e5e7eb;
    border-style: solid;
}

.dark [role="tooltip"] > [data-popper-arrow]:after {
    border-color: #4b5563;
    border-style: solid;
}

[data-popover][role="tooltip"][data-popper-placement^="top"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="top"] > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow]:before {
    border-left-width: 1px;
    border-top-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow]:after,
[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow]:before {
    border-right-width: 1px;
    border-top-width: 1px;
}

[data-popover][role="tooltip"][data-popper-placement^="top"] > [data-popper-arrow] {
    bottom: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="bottom"] > [data-popper-arrow] {
    top: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="left"] > [data-popper-arrow] {
    right: -5px;
}

[data-popover][role="tooltip"][data-popper-placement^="right"] > [data-popper-arrow] {
    left: -5px;
}

[role="tooltip"].invisible > [data-popper-arrow]:after,
[role="tooltip"].invisible > [data-popper-arrow]:before {
    visibility: hidden;
}

.select2-dropdown {
    border: 1px solid #0079c2;
    background-color: #f9f9f9;
}

.select2-container .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-color: #f5f5f5;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #fbde7e;
    color: #0079c2;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: relative;
    top: 0;
    right: 0;
}

.select2-container .select2-selection--multiple {
    min-height: 40px;
}

.select2-container--default .select2-selection--multiple {
    background-color: #f5f5f5;
    padding: 0 6px 6px 0;
    border: 1px solid #f5f5f5;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #0079c2;
    box-shadow: 0 1px 4px #0079c266;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 25px;
    margin-top: 6px;
    margin-left: 12px;
    vertical-align: text-top;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px;
    margin-left: 6px;
    border: 1px solid #ccc;
    background-color: #fbde7e;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid #ccc;
    color: #0079c2;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, 
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #0079c2;
    color: #fbde7e;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 14px;
    color: #0079c2;
}

.select2-container .select2-search--inline .select2-search__field {
    width: auto !important;
    padding-top: 1px;
    font-size: 14px;
}