body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #414141;
}

/* 
--------------------================---------------------
==================== Global Section ====================
--------------------================--------------------- 
*/

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* 
---------------------==============---------------------
===================== Override Css =====================
---------------------==============--------------------- 
*/

.swiper-lazy-preloader {
    top: 150px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next {
    padding-bottom: 50px;
    right: 16%;
}

.swiper-button-prev {
    padding-bottom: 50px;
    left: 14.5%;
}

.swiper-pagination {
    text-align: center;
    position: relative;
    display: table;
    margin: auto;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    background: rgba(65, 65, 65, 0.4) 0% 0% no-repeat padding-box;
    top: -40px !important;
    width: fit-content !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
    border: 1px solid #0079c2;
    margin: 0 2px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #0079c2 !important;
}

/* 
--------------------=================--------------------
==================== Navbar Section =====================
--------------------=================-------------------- 
*/

.navbar {
    background-image: url(../img/navbar/bg_header.png);
    background-size: cover;
}

.navbar .top__section .icon,
.navbar .bottom__section .icon  {
    margin-top: 3px;
    transform: scale(1.25);
}

.dropdown__app::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 6px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    right: 54px;
    margin-right: 130px;
}

.dropdown__service::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 6px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    right: 54px;
    margin-right: -10px;
}

.navbar .top__section .right__side .guest__info {
    animation: changeInfo 8s infinite;
}

@keyframes changeInfo {
    0%, 25%, 100% {
        transform: translate3d(0, 0, 0);
    }

    50%, 75% {
        transform: translate3d(0, -50%, 0);
    }
}

.app__download:hover,
.user__service:hover,
.socmed>.icon:hover,
.category:hover {
    color: #0079c2;
    cursor: pointer;
}

/* 
--------------------================--------------------
==================== Heroes Section ====================
--------------------================-------------------- 
*/

.heroes-banner .swiper-slide {
    opacity: .4;
}

.heroes-banner .swiper-slide.swiper-slide-active {
    opacity: 1;
}

/* 
--------------------=================--------------------
==================== Channel Section ====================
--------------------=================-------------------- 
*/

.wrapper__channel {
    background-image: url(../img/home/bg_other_produk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.channel .wrapper__channel .list__channel .tag {
    position: absolute;
    width: 40px;
    top: 50px;
    left: 20px;
}