body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #414141;
}

/* 
--------------------================---------------------
==================== Global Section ====================
--------------------================--------------------- 
*/

.top-header .app-download:hover,
.top-header .user-service:hover,
.top-header .social-media .icon:hover,
.top-header .category:hover,
.footer .list-item-footer ul>li>a:hover {
    color: #0079c2;
    cursor: pointer;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* 
---------------------==============---------------------
===================== Override Css =====================
---------------------==============--------------------- 
*/

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.heroes-banner .swiper-lazy-preloader {
    top: 150px;
}

.heroes-banner .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
    border: 1px solid #0079c2;
    margin: 0 2px !important;
}

.heroes-banner .swiper-pagination-bullet-active {
    opacity: 1;
    background: #0079c2 !important;
}

.flash-sale .swiper-button-disabled {
    opacity: 0;
}

.product-promo .swiper-button-disabled {
    opacity: 0;
}

/* 
--------------------=================--------------------
==================== Header Section =====================
--------------------=================-------------------- 
*/

.top-header {
    background-image: url(../img/header/bg_header.png);
    background-size: cover;
}

.top-header .top-section .icon,
.top-header .bottom-section .icon  {
    transform: scale(1.25);
}

.top-header .bottom-section .icon,
.top-header .top-section .left-side .icon {
    line-height: 0;
}

.top-header .top-section .user-service .wrapper-dropdown-service .icon {
    line-height: initial;
}

.top-header .dropdown-app::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 6px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    right: 54px;
    margin-right: 130px;
}

.top-header .dropdown-service::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 6px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    right: 54px;
    margin-right: -10px;
}

.top-header .top-section .right-side .guest-info {
    animation: changeInfo 8s infinite;
}

@keyframes changeInfo {
    0%, 25%, 100% {
        transform: translate3d(0, 0, 0);
    }

    50%, 75% {
        transform: translate3d(0, -50%, 0);
    }
}

.bottom-header .top-section ul li.active {
    border-bottom: 1px solid #0079C2;
}

.bottom-header .top-section ul li.active a {
    color: #0079C2;
}

.bottom-header .top-section ul li.active a img {
    filter: brightness(1) grayscale(0);
}

/* 
--------------------================--------------------
==================== Heroes Section ====================
--------------------================-------------------- 
*/

.heroes-banner .swiper-slide {
    opacity: .4;
}

.heroes-banner .swiper-slide.swiper-slide-active {
    opacity: 1;
}

/* 
--------------------=================--------------------
==================== Channel Section ====================
--------------------=================-------------------- 
*/

.channel-wrapper {
    background-image: url(../img/home/bg_other_produk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.channel .channel-wrapper .list-channel .tag {
    position: absolute;
    width: 40px;
    top: 50px;
    left: 20px;
}

/* 
-----------------======================------------------
================= Promo Banner Section ==================
-----------------======================------------------ 
*/

.promo-banner .item-promo a {
    display: block;
    transition: transform .3s;
}
.promo-banner .item-promo a:hover {
    transform: scale(1.02);
}

/* 
------------------====================-------------------
================== Flash Sale Section ===================
------------------====================------------------- 
*/


.flash-thumbnail-wrapper {
    background-image: url(https://flash-sale.klikindomaret.com/static/media/backgorund-purple-FS.ac129e50259fdb58ae1f.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease;
}

.flash-thumbnail-wrapper.hide {
    opacity: 0;
    width: 1px;
}

.stock-progress,
.stock-progress-bar {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

.stock-progress-bar {
    transition: width .6s ease;
}

.progress-icon {
    background: url(../img/flash_sale/flash_progress_fire.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* 
-----------------======================------------------
================= Product Promo Section ==================
-----------------======================------------------ 
*/

.promo-collection .item-product:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.1s ease-in-out;
    transform: scale(1.025);
}

/* 
-----------------=====================-------------------
================= App Download Section ==================
-----------------=====================------------------- 
*/

.app-download-bg {
    background-image: url(../img/footer/bg_footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 
--------------------===============----------------------
==================== Footer Section =====================
--------------------===============---------------------- 
*/

.footer .top-section .item-footer:nth-child(3) input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.footer .top-section .item-footer ul li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer .bottom-section .item-footer ul li {
    height: 35px;
    display: inline-block;
    margin-bottom: 10px;
}

.footer .bottom-section .item-footer ul li span {
    background: url(https://www.klikindomaret.com/Assets/image/new_footer_sprites.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 400px;
    padding: 5px 45px 12px;
}

.footer .bottom-section .item-footer ul li .isaku { background-position: -5px -4px; }
.footer .bottom-section .item-footer ul li .visa { background-position: -107px -2px; }
.footer .bottom-section .item-footer ul li .mastercard { background-position: -207px -2px; }
.footer .bottom-section .item-footer ul li .jcb { background-position: -308px -3px; }
.footer .bottom-section .item-footer ul li .bca { background-position: -12px -59px; }
.footer .bottom-section .item-footer ul li .cimbniaga { background-position: -104px -59px; }
.footer .bottom-section .item-footer ul li .mandiri { background-position: -201px -59px; }
.footer .bottom-section .item-footer ul li .bni { background-position: -303px -59px; }
.footer .bottom-section .item-footer ul li .bri { background-position: -207px -170px; }
.footer .bottom-section .item-footer ul li .permata-bank { background-position: -250px -192px; background-size: 335px; }
.footer .bottom-section .item-footer ul li .bca-klikpay { background-position: -1px -114px; }
.footer .bottom-section .item-footer ul li .rekening-ponsel { background-position: -217px -114px;}
.footer .bottom-section .item-footer ul li .akulaku { background-position: -311px -114px; }
.footer .bottom-section .item-footer ul li .indomaret { background-position: -5px -170px; }
.footer .bottom-section .item-footer ul li .cod { background-position: -107px -170px; }
.footer .bottom-section .item-footer ul li .amex { background-position: -309px -170px; }
.footer .bottom-section .item-footer ul li .briva { background-position: -203px -228px; }
.footer .bottom-section .item-footer ul li .spay { background-position: -10px -228px; }
.footer .bottom-section .item-footer ul li .ovo { background-position: -113px -228px; }
.footer .bottom-section .item-footer ul li .gopay { background-position: -160px -408px; background-size: 328px; }
.footer .bottom-section .item-footer ul li .jenius { background-position: -76px -408px; background-size: 328px; }
.footer .bottom-section .item-footer ul li .indodana { background-position: 0px -494px; }
.footer .bottom-section .item-footer ul li .idelivery { background-position: -8px -289px; }
.footer .bottom-section .item-footer ul li .indo-paket { background-position: -109px -290px }