/* 
-----------------------===========-----------------------
======================= Animation =======================
-----------------------===========----------------------- 
*/

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animation-delay-100 {
    animation-delay: 100ms;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-bounceInRight {
    animation-name: bounce-in-right;
}

.loader-pulse {
    animation: loader-pulse 1s infinite ease-out;
}

/* 
------------------=====================------------------
================== Animation Keyframes ==================
------------------=====================------------------
*/

@keyframes bounce-in-right {
    0%, 60%, 75%, 90%, 100% {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    
    0% {
        opacity: 0;
        transform: translate3d(3000px,0,0) scaleX(3);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px,0,0) scaleX(1);
    }

    75% {
        transform: translate3d(10px,0,0) scaleX(.98);
    }

    90% {
        transform: translate3d(-5px,0,0) scaleX(.995);
    }

    100% {
        transform: translateZ(0);
    }
}

@keyframes skLinRotate {
    95% ,100% { 
        transform: rotate(840deg) 
    }
}

@keyframes loader-pulse {
    0% {
        box-shadow: 0 0 0 3px rgba(204, 51, 51, .9);
    }

    19% {
        box-shadow: 0 0 0 2px rgba(204, 51, 51, .7);
    }

    20% {
        box-shadow: 0 0 0 6px rgba(204, 51, 51, .8);
    }

    39% {
        box-shadow: 0 0 0 5px rgba(0, 121, 194, .6);
    }

    40% {
        box-shadow: 0 0 0 9px rgba(0, 121, 194, .7);
    }

    60% {
        box-shadow: 0 0 0 8px rgba(255, 204, 51, .6);
        animation-timing-function: cubic-bezier(.5,0,1,.5);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 204, 51, .2);
    }
}

@keyframes tracker-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 121, 194, .2);
    }

    70% {
        box-shadow: 0 0 0 7px rgba(0, 121, 194, .2);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 121, 194, 0);
    }
}