@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

.mt-30 {
    margin-top: 7.5rem;
}

.filter-primary {
    filter: hue-rotate(200deg) saturate(200%) brightness(255%) contrast(.975);
}

.hover-filter-primary:hover {
    filter: hue-rotate(200deg) saturate(200%) brightness(255%) contrast(.975);
}

.filter-secondary {
    filter: invert(29%) sepia(99%) saturate(1169%) hue-rotate(178deg) brightness(100%) contrast(101%);
}

.filter-danger {
    filter: hue-rotate(160deg) saturate(600%) brightness(0.8) contrast(0.7);
}

.filter-white {
    filter: brightness(0%) invert(100%) ;
}

.animate-delay-600 {
    animation-delay: 600ms;
}